body {
	background-color: hsl(54.7, 66.7%, 70%); /* baseado em palegoldenrod */
}

a, a:visited {
	color: steelblue;
}

span {
	color: red;
}

	span.info {
		font-size: smaller;
		color: hsl(340.4, 59.8%, 75%); /* baseado em palevioletred */
	}

	span.quadro {
		border: 1px solid red;
		padding: 0 2px;
	}

article {
	background-color: hsl(54.7, 66.7%, 80%); /* palegoldenrod */
}

article, section {
	border: 1px dotted red;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
}

section {
	background-color: hsl(54.7, 66.7%, 90%); /* baseado em palegoldenrod */
}

article p {
	margin-left: 20px;
}

table {
	margin: 0 10%;
	border-collapse: collapse;
	width: 80%;
	background-color: paleturquoise;
}

td {
	border: 1px dotted green;
	padding: 5px;
}

button {
	border-radius: 5px;
	padding: 5px;
	margin: 14px 0 14px 10px;
	;
	display: block;
}

code {
	display: block;
	background-color: paleturquoise;
	color: goldenrod;
	font-size: small;
	margin: 0;
	padding: 5px 0;
	margin-left: 30px;
}
